<div class="row" >
    <div class="col-xs-6 col-md-1" ng-repeat="image in images" ng-click="imageCtrl.setCurrentImage(image)">
        <h3>#{{image.id}}</h3>
        <div class="thumbnail" ng-class="{imageSelected: imageCtrl.currentImage.id==image.id}">

            <thumbnail image="image"></thumbnail>

            <div class="caption">
                <h3>{{image.title}}</h3>
            <p>{{image.description}}</p>

            <button type="submit" class="btn btn-primary">Edit/Delete</button>

        </div>
        </div>
    </div>

</div>


