<div class="panel panel-default">
    <div class="panel-heading">
        {{token.readToken}}
    </div>
    <div class="panel-body">

<form name="uploadFilesForm" novalidate enctype="multipart/form-data"
      ng-submit="uploadFilesForm.$valid && imageCtrl.submit() ">
    <div class="btn btn-primary" ngf-select ng-model="files" ngf-multiple="true"
         ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select Images
    </div>
    <button type="submit" class="btn">Upload</button>
    <button type="submit" class="btn" ng-click="loadImages()">Refresh</button>
</form>


    </div>
</div>


